.top{
    width: 85%;
    // border: 3px solid blueviolet;
      .main-top{
        // gallerie responsive 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 70px auto 0;
        gap: 20px;
      }
    }