.movie-container{
    height: 100dvb;
    width: 85%;
    // l'image wallpaper prend tout l'ecran 
    display: flex;

    .gradient-bg{
        position: relative;
        width: 100%;
        
        right: 0;
        height: auto;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 41%, rgba(0,0,0,0) 100%);

        .first-part{
            z-index: 6;
            display: flex;
            gap: 30px;
            .cover-book{
                width: 150px;
                height: 220px;
                object-fit: cover;
            }

            .title-movie{
                font-size: 35px;
                margin: 0;
                color: #fff;
                text-transform: uppercase;
                
            }
            .title-publish{
                color: #fff;
                font-weight: 200;
              
            }
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                gap: 10px;
                list-style: none;
                .span-genre{
                    color: #fff;
                    padding: 5px 15px;
                    border-radius: 50px;
                    background-color: orange ;
                   
    
                    
                }
            }
        }
        .seconde-part{
            .synopsis{
                color: #fff;
                font-weight: 200;
                width: 40%;
            }
            a{
                color: #fff;
                // text-decoration: none;
            }
           
        }
    }

    .movie-details-box{
     
        position: absolute;
        top: 0;
       
        z-index: -10;
        
        width: 100%;
      
        height: 100%;
        object-fit: cover;

       
    }


    
}