.nav{
    width: 20%;
    position: fixed;
    left: 0;
    border: 3px solid red;
    height: 100dvh;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 10px #dbd8e3;


   
    .nav-box{
        display: flex;
        justify-content: space-between;
        width: 80%;
        .div-brand{
            display: flex;
            align-items: center;
            gap: 10px;
            .img-logo{
                width: 80px;
                object-fit: contain;
            }
            .title-logo{
                text-transform: uppercase;
                color: #fff;
            }
        }
        .ul-nav{
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            gap: 20px;
            height: 100%;
            align-items: center;

            .link-nav{
                text-decoration: none;
                color: black;
                text-transform: uppercase;
            }
        }
    }
}