@import '../../App.scss';

.header{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 70dvh;
}

.content{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;
    @include mainContentWidth;
    height: 70dvh;
    opacity: 0.4;
    background-color: #000;
}

.header-details{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    z-index: 400;
    border-left: 2px solid #fff;
    padding: 15px;
    @media screen and (max-width: 1150px){
        left: 40%;
    }

    @media screen and (max-width: 450px){
        width: 70%;
        left: 61%;
        border: none;
    }
    h1{
        font-size: 55px;
        margin: 0;
        color: white;
        text-transform: uppercase;
          @media screen and (max-width: 450px){
            font-size: 30px;
        }
    }
       
        .header-movie-p{
            // reduire le text du résumé a 4 ligne maximum 
            display: -webkit-box;
            max-width: 400px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            //----------------
            margin: 0;
            color: white;
            font-weight: 300;
            margin-bottom: 20px;
            @media screen and (max-width: 450px){
                display: none;
            }
        }
   
   
    a{
        color: #fff;
        text-decoration: none;
        padding: 5px 30px;
        background-color: orange;
        @media screen and (max-width: 450px){
            padding: 5px 15px;
            font-size: 11px;
        }
    }
}