.header{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 70dvh;
  
}
.content{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;
    width: 85%;
    height: 70dvh;
    opacity: 0.4;
    background-color: #000;
}
.header-search{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    z-index: 400;
    border-left: 2px solid #fff;
    padding: 15px;
    h1{
        font-size: 55px;
        margin: 0;
        margin-bottom: 20px;
        color: white;
        text-transform: uppercase;
    }
    p{
        margin: 0;
        color: white;
        font-weight: 300;
        margin-bottom: 20px;
    }
    a{
        color: #fff;
        text-decoration: none;
        padding: 5px 30px;
        background-color: orange;
    }
}